div {
  border: 1px solid black;
}

h2 {
  color: blue;
}

#heading {
  color: red;
  font-size: 24px;
  background: red;
}

#div2 {
  background: red;
}

#footer-para {
  text-align: center;
}

.head-para {
  background-color: yellow;
  padding: 10px;
}

.item1 {
  font-weight: bold;
}

.item2 {
  font-weight: italic;
}
